TestConsoleClient/Service References/CqrsServiceReference/CqrsService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11999/CqrsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:11999/CqrsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSystemEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemEntity" nillable="true" type="tns:SystemEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemEntity" nillable="true" type="tns:ArrayOfSystemEntity" />
  <xs:complexType name="SystemEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentSystemId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemEntity" nillable="true" type="tns:SystemEntity" />
  <xs:complexType name="Node">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemEntity">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Executables" nillable="true" type="q1:ArrayOflong" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Dispatchers" nillable="true" type="q2:ArrayOflong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Node" nillable="true" type="tns:Node" />
  <xs:complexType name="Executable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Node" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Executable" nillable="true" type="tns:Executable" />
  <xs:complexType name="ArrayOfNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Node" nillable="true" type="tns:Node" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNode" nillable="true" type="tns:ArrayOfNode" />
  <xs:complexType name="ArrayOfExecutable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Executable" nillable="true" type="tns:Executable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExecutable" nillable="true" type="tns:ArrayOfExecutable" />
  <xs:complexType name="ArrayOfDispatcher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dispatcher" nillable="true" type="tns:Dispatcher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDispatcher" nillable="true" type="tns:ArrayOfDispatcher" />
  <xs:complexType name="Dispatcher">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Node" type="xs:long" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Dispatchables" nillable="true" type="q3:ArrayOflong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dispatcher" nillable="true" type="tns:Dispatcher" />
  <xs:complexType name="ArrayOfDispatchable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dispatchable" nillable="true" type="tns:Dispatchable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDispatchable" nillable="true" type="tns:ArrayOfDispatchable" />
  <xs:complexType name="Dispatchable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Dispatcher" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dispatchable" nillable="true" type="tns:Dispatchable" />
  <xs:complexType name="ArrayOfDomainModelDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DomainModelDto" nillable="true" type="tns:DomainModelDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDomainModelDto" nillable="true" type="tns:ArrayOfDomainModelDto" />
  <xs:complexType name="DomainModelDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DomainModelId" type="ser:guid" />
      <xs:element minOccurs="0" name="ReadModelId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DomainModelDto" nillable="true" type="tns:DomainModelDto" />
  <xs:complexType name="Pong">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Pong" nillable="true" type="tns:Pong" />
</xs:schema>