Client.WpfApplication/Service References/CqrsServiceReference/CqrsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReadModelEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReadModelEntity" nillable="true" type="tns:ReadModelEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReadModelEntity" nillable="true" type="tns:ArrayOfReadModelEntity" />
  <xs:complexType name="ReadModelEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadModelEntity" nillable="true" type="tns:ReadModelEntity" />
  <xs:complexType name="Pong">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Pong" nillable="true" type="tns:Pong" />
</xs:schema>