Client.WpfApplication/Service References/CqrsServiceReference/ServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11998/CqrsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11998/CqrsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11998/CqrsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICqrsService_SetName_InputMessage">
    <wsdl:part name="parameters" element="tns:SetName" />
  </wsdl:message>
  <wsdl:message name="ICqrsService_SetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICqrsService_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="ICqrsService_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICqrsService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="ICqrsService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="ICqrsService_ReloadFromEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadFromEvents" />
  </wsdl:message>
  <wsdl:message name="ICqrsService_ReloadFromEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadFromEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ICqrsService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="ICqrsService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="ICqrsService">
    <wsdl:operation name="SetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICqrsService/SetName" message="tns:ICqrsService_SetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICqrsService/SetNameResponse" message="tns:ICqrsService_SetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICqrsService/GetName" message="tns:ICqrsService_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICqrsService/GetNameResponse" message="tns:ICqrsService_GetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICqrsService/GetList" message="tns:ICqrsService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICqrsService/GetListResponse" message="tns:ICqrsService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadFromEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ICqrsService/ReloadFromEvents" message="tns:ICqrsService_ReloadFromEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICqrsService/ReloadFromEventsResponse" message="tns:ICqrsService_ReloadFromEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/ICqrsService/Ping" message="tns:ICqrsService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICqrsService/PingResponse" message="tns:ICqrsService_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICqrsService" type="tns:ICqrsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetName">
      <soap:operation soapAction="http://tempuri.org/ICqrsService/SetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetName">
      <soap:operation soapAction="http://tempuri.org/ICqrsService/GetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/ICqrsService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadFromEvents">
      <soap:operation soapAction="http://tempuri.org/ICqrsService/ReloadFromEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/ICqrsService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceImpl">
    <wsdl:port name="BasicHttpBinding_ICqrsService" binding="tns:BasicHttpBinding_ICqrsService">
      <soap:address location="http://localhost:11998/CqrsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>